<!DOCTYPE HTML>
<html>
<head>
  
</head>
<body>
<!-- ###DOCUMENT_BODY### -->
<div id="container">
    <div id="header">
		<div id="logo"><img src="/fileadmin/templates/main/images/logo.png" alt="Rwanda Meteorological Agency"></div>
		<div id="headerImages"><img src="/fileadmin/templates/main/images/headIcons.png" alt="Mininfra Logo and Rwanda Flag"></div>
    </div>
    <nav>
        <!-- ###navigation### -->
            <li>link</li>
            <li>link</li>
            <li>link</li>
        <!-- ###navigation### -->
    </nav>
	<!-- ###warning### -->
	
	<!-- ###warning### -->
	<div id="clear"><!-- --></div>
    <div id="leftColumn">
		<!-- ###LEFT_CONTENT### -->
		Left column content
		<!-- ###LEFT_CONTENT### -->
    </div>
    <div id="center">
		<!-- ###CONTENT### -->
		page content
		<!-- ###CONTENT### -->
    </div>
    <div class="clear"><!-- --></div>
    <footer>
		<!-- ###FOOTER### -->
		<a href="#">contact us</a>
		<!-- ###FOOTER### -->
    </footer>
</div>
<!-- ###DOCUMENT_BODY### -->
</body>
</html>