<div id="headlines">
<h1>Today's weather - <span class="black">{date}</span></h1>
<h1>Headline - <span class="black">{headline}</span></h1>
<h1>Severe Weather - <span class="black">{severe_weather}</span></h1>
</div>

<div id="todaysForecast">
	<h1>Local Weather Forecast</h1>
	<table width='100%'>
		<tr>
			<th>Location</th>
			<th>Morning</th>
			<th>Afternoon</th>

		</tr>
		<f:for each="{locations}" as="location">
		<tr{location.rowclass}>
			<td>{location.name}</td>
			<f:for each="{location.periods}" as="period">
			<td>
				<f:for each="{period.detail}" as="detail">
					<img src="typo3conf/ext/forecastBackend/img/{detail.icon}">
					{detail.text} <br>
					<span class="min">Min Temp {detail.minTemp}&deg;C</span> <span class="max">Max Temp {detail.maxTemp}&deg;C</span><br>
					Wind {detail.windSpeed} {detail.windDirection}
				</f:for>
			</td>
			</f:for>
		</tr>
		</f:for>
	</table>
</div>