<div id="headlines">
	<h1>
		Today's weather <br> 
		<span class="black">{date}</span>
	</h1>
	<h1>
		Headline <br>
		<span class="black">{headline}</span>
	</h1>
<f:if condition="{warningExists}">
	<h1 class="severe">Severe Weather</h1>
	<f:for each="{warnings}" as="warning">
	<div class="warning">
		<div class="warningTitle {warning.type}">{warning.title}</div>
		<div class="warningText">
			{warning.content}<br>
			<span class="validTime">Valid: {warning.time}</span>
		</div>
	</div>
	</f:for>
</f:if>
</div>
<div id="todaysForecast">
	<h1>Local Weather Forecast</h1>
	<table>
		<tr>
			<th>Location</th>
			<th class="period">Morning</th>
			<th class="period">Afternoon</th>

		</tr>
		<f:for each="{locations}" as="location">
		<tr{location.rowclass}>
			<td>{location.name}</td>
			<f:for each="{location.periods}" as="period">
			<td>
				<f:for each="{period.detail}" as="detail">
					<img src="typo3conf/ext/forecastBackend/img/{detail.icon}" alt="{detail.icon_name}_icon" class="icon">
					{detail.text} <br>
					<span class="min">Min {detail.minTemp}&deg;C</span>, <span class="max">Max {detail.maxTemp}&deg;C</span>, Wind {detail.windSpeed} {detail.windDirection}
				</f:for>
			</td>
			</f:for>
		</tr>
		</f:for>
	</table>
</div>
<div id="mapData" style="display:none">{mapData}</div>
<div id="map">
	<div id="customZoom">
		<a href="#customZoomIn" id="customZoomIn">+</a>
		<a href="#customZoomOut" id="customZoomOut">-</a>
	</div>
</div>