<div id="map">
<div id="customZoom">
	<a href="#customZoomIn" id="customZoomIn">+</a>
	<a href="#customZoomOut" id="customZoomOut">-</a>
</div>
</div>
<div id="headlines">
	<h1>
		Today's weather <br> 
		<span class="black">{date}</span>
	</h1>
	<h1>
		Headline <br>
		<span class="black">{headline}</span>
	</h1>
	<h1>
		Severe Weather <br>
		<span class="black">{severe_weather}</span>
	</h1>
</div>
<div class="clear gap"><!-- --></div>
<div id="todaysForecast">
	<h1>Local Weather Forecast</h1>
	<table>
		<tr>
			<th>Location</th>
			<th class="period">Morning</th>
			<th class="period">Afternoon</th>

		</tr>
		<f:for each="{locations}" as="location">
		<tr{location.rowclass}>
			<td>{location.name}</td>
			<f:for each="{location.periods}" as="period">
			<td>
				<f:for each="{period.detail}" as="detail">
					<img src="typo3conf/ext/forecastBackend/img/{detail.icon}" alt="{detail.icon_name}_icon">
					{detail.text} <br>
					<span class="min">Min {detail.minTemp}&deg;C</span>, <span class="max">Max {detail.maxTemp}&deg;C</span>, Wind {detail.windSpeed} {detail.windDirection}
				</f:for>
			</td>
			</f:for>
		</tr>
		</f:for>
	</table>
</div>