body, *{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#container {
	margin : 5px;
	padding: 5px;
}
h1 {
	margin-top:0;
	font-size:1.5em;
}
h2 {
	font-size:1.2em;
	margin-top:2px;
}
#tabs ul , #tabs li{
	margin:0;
	padding:0;
	list-style:none;
	height:25px;
}
#tabs ul > li {
	display:inline-block;
}
#tabs a {
	cursor:pointer;
	color:#000;
	text-decoration:none;
	padding:10px;
}
#message {
	display:block;
	float:right;
	margin-top:2em;
	padding:0.5em;
}
.pass{
	border:#00800B solid medium;
	background-color:#8FFF98;
	color:#00800B;
	font-weight:bold;
}
.fail{
	border:#B22B2B solid medium;
	background-color:#FF8F8F;
	color:#B22B2B;
	font-weight:bold;
}
.tab {
	background-color:#CCC;
}
.active {
	background-color:#FFF;
}
#contentArea {
	display:block;
	background-color:#FFF;
	padding:5px;
}
table {
	border-collapse:collapse;
}
th{
	background-color:#DADADA;
}
th, td {
	padding:0.2em;
}
.row {
	background-color:#DBEAF9;
}
.clear {
	clear:both;
}

#locationsTable table {
	width:35em;
}
#forecastNewForm table {
	width:100%;
}
.forecastPeriod{
	background-color:#009AF4;
	font-weight:bold;
	text-align:center;
	font-size:1.2em;
	text-transform:capitalize;
	padding: 0.5em;
	margin:0.2em 0;
}
.icon {
	width:14px;
	height:14px;
	background-image:URL('../img/icon_sprite.png');
	cursor:pointer;
}
.edit {
	background-position:0;
}
.delete {
	background-position:14px;
}